/*a basic flex-box library*/
:root {
  --primary: #6a4c94;
  --secondary: #ef8801;
  --success: #8bc926;
  --warning: #ffca38;
  --error: #ff575c;
  --info: #1981c2;
  --black: #1f1300;
  --white: #fffaff;
  --main-title:'Arial';
  --sub-titles:'Montserrat';
  --paragraphs:'Montserrat'; }

h1 {
  font-family: var(--main-title), "sans-serif";
  font-size: 5em; }

h2 {
  font-size: 2.5em; }

h2, h3, h4, h6 {
  font-family: var(--sub-titles), "sans"; }

body, p, button, a, input, submit, .link {
  font-family: var(--paragraphs), "sans";
  font-weight: 600;
  text-decoration: none; }

input, button, submit {
  border: none; }

.link:link {
  text-decoration: inherit; }

.link:visited {
  color: inherit; }

.link:hover {
  color: #291900; }

.primary {
  background-color: var(--primary); }

.secondary {
  background-color: var(--secondary); }

.white {
  background-color: var(--white); }

.black {
  background-color: var(--black); }

.flx\(\) {
  display: flex; }

.flx\(wrap\) {
  display: flex;
  flex-wrap: wrap; }

.flx\(column\) {
  display: flex;
  flex-direction: column; }

.flx\(nowrap\) {
  display: flex;
  flex-wrap: nowrap; }

.flx\(nowrap\,column\) {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; }

.flx\(column\,nowrap\) {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; }

.flx\(column\,wrap\) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

.flx\(wrap\,column\) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

/*vertical alignment for non flex items*/
.top {
  align-items: flex-start; }

.bottom {
  align-items: flex-end; }

.baseline {
  align-items: baseline; }

.middle {
  align-items: center; }

.stretch {
  align-items: stretch; }

/*vertical alignment for 'flexible' children*/
.v-top {
  align-content: flex-start; }

.v-bottom {
  align-content: flex-end; }

.v-baseline {
  align-content: baseline; }

.v-middle {
  align-content: center; }

.v-stretch {
  align-content: stretch; }

.v-space-between {
  align-content: space-between; }

.v-space-around {
  align-content: space-around; }

/*horizontal alignment*/
.left {
  justify-content: flex-start; }

.right {
  justify-content: flex-end; }

.center {
  justify-content: center; }

.space-evenly {
  justify-content: space-evenly; }

.space-around {
  justify-content: space-around; }

.space-between {
  justify-content: space-between; }

.is-1 {
  min-width: 8.333333333%; }

.is-2 {
  min-width: 16.666666666%; }

.is-3 {
  min-width: 24.999999999%; }

.is-4 {
  min-width: 33.333333333%; }

.is-5 {
  min-width: 41.666666666%; }

.is-6 {
  min-width: 49.999999999%; }

.is-7 {
  min-width: 58.333333333%; }

.is-8 {
  min-width: 66.666666666%; }

.is-9 {
  min-width: 74.999999999%; }

.is-10 {
  min-width: 83.333333333%; }

.is-11 {
  min-width: 91.666666666%; }

.is-12 {
  min-width: 100%; }

.btn\(\) {
  background-color: var(--white);
  border-color: #dbdbdb;
  border-width: 1px;
  color: var(--black);
  cursor: pointer;
  font-size: 1em;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  line-height: 1.5em;
  text-align: center;
  white-space: nowrap;
  outline: none; }

.btn\(small\) {
  background-color: var(--white);
  border-color: #dbdbdb;
  border-width: 1px;
  color: var(--black);
  cursor: pointer;
  justify-content: center;
  padding: calc(0.25em - 1px) 0.5em;
  line-height: 1.5em;
  text-align: center;
  white-space: nowrap;
  font-size: .75em;
  outline: none; }

.btn\(large\) {
  background-color: var(--white);
  border-color: #dbdbdb;
  border-width: 1px;
  color: var(--black);
  cursor: pointer;
  justify-content: center;
  padding: calc(.75em - 1px) 1.25em;
  line-height: 1.5em;
  text-align: center;
  white-space: nowrap;
  font-size: 1em;
  outline: none; }

.btn\(xlarge\) {
  background-color: var(--white);
  border-color: #dbdbdb;
  border-width: 1px;
  color: var(--black);
  cursor: pointer;
  justify-content: center;
  padding: calc(0.25em - 1px) 0.5em;
  line-height: 1.5em;
  text-align: center;
  white-space: nowrap;
  font-size: 2em;
  outline: none; }

.is-primary {
  background-color: var(--primary);
  color: var(--white); }

.is-primary:hover {
  background-color: #65498d; }

.is-primary:active {
  background-color: #5e4483; }

.is-secondary {
  background-color: var(--secondary);
  color: var(--white); }

.is-secondary:hover {
  background-color: #e48201; }

.is-secondary:active {
  background-color: #d57901; }

.is-success {
  background-color: var(--success);
  color: var(--black); }

.is-success:hover {
  background-color: #85c125; }

.is-success:active {
  background-color: #7cb422; }

.is-warning {
  background-color: var(--warning);
  color: var(--black); }

.is-warning:hover {
  background-color: #ffc72e; }

.is-warning:active {
  background-color: #ffc31f; }

.is-info {
  background-color: var(--info);
  color: var(--white); }

.is-info:hover {
  background-color: #187bb9; }

.is-info:active {
  background-color: #1672ac; }

.is-error {
  background-color: var(--error);
  color: var(--white); }

.is-error:hover {
  background-color: #ff4d52; }

.is-error:active {
  outline: #f00008;
  background-color: #ff3d44; }

.is-black {
  background-color: var(--black);
  color: var(--white); }

.is-black:hover {
  background-color: #140d00; }

.is-black:active {
  background-color: var(--black); }

.is-white {
  background-color: var(--white);
  color: var(--black); }

.is-white:hover {
  background-color: #fff0ff; }

.is-white:active {
  background-color: #ffe0ff; }

.is-round {
  border-radius: 2em; }

.is-round:active {
  outline: none; }
