/*a basic flex-box library*/

//colors

//	these can be whatever colors you want,
//  	however, it's best to have a black,white, ui colors as described here,
//  	and one or 2 main website colors.

$sizzling-red: hsla(358, 100%, 67%, 1);
$sunglow: hsla(44, 100%, 61%, 1);
$yellow-green: hsla(83, 68%, 47%, 1);
$green-blue-crayola: hsla(203, 77%, 43%, 1);
$royal-purple: hsla(265, 32%, 44%, 1);
$tangerine: hsla(34, 99%, 47%, 1);
$black-chocolate: hsla(37, 100%, 6%, 1);
$snow: hsla(300, 100%, 99%, 1);

$primary:$royal-purple;
$secondary:$tangerine;
$success:$yellow-green;
$warning:$sunglow;
$error:$sizzling-red;
$info:$green-blue-crayola;
$black:$black-chocolate;
$white:$snow;

//typography
$maintitle:'Arial';
$subtitles:'Montserrat';
$paragraphs:'Montserrat';

//define variables here
:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --success: #{$success};
  --warning: #{$warning};
  --error: #{$error};
  --info: #{$info};
  --black: #{$black};
  --white: #{$white};
  --main-title:'#{$maintitle}';
  --sub-titles:'#{$subtitles}';
  --paragraphs:'#{$paragraphs}';
}

h1{
	font-family: var(--main-title),'sans-serif';
	font-size: 5em;
}
h2{
	font-size: 2.5em;
}

h2,h3,h4,h6{
	font-family: var(--sub-titles), 'sans';
}
body,p,button,a,input, submit, .link{
	font-family: var(--paragraphs), 'sans';
	font-weight: 600;
	text-decoration: none;
}
input, button, submit { border:none; } 

.link:link{text-decoration: inherit;}
.link:visited{color: inherit;}
.link:hover{ color:lighten($black,2%);}

.primary{
 	background-color:var(--primary);
}
.secondary{
	background-color:var(--secondary);
}
.white{
	background-color:var(--white);
}
.black{
	background-color:var(--black);
}

//define our syntax
.flx\(\){
	display: flex;
}
.flx\(wrap\){
	display: flex;
	flex-wrap:wrap;
}
.flx\(column\){
	display: flex;
	flex-direction:column;
}
.flx\(nowrap\){
	display: flex;
	flex-wrap:nowrap;
}
//if column...
.flx\(nowrap\,column\){
	display: flex;
	flex-wrap:nowrap;
	flex-direction:column;
}
.flx\(column\,nowrap\){
	display: flex;
	flex-wrap: nowrap;
	flex-direction:column;
}
.flx\(column\,wrap\){
	display: flex;
	flex-wrap: wrap;
	flex-direction:column;
}
.flx\(wrap\,column\){
	display: flex;
	flex-wrap: wrap;
	flex-direction:column;
}

/*vertical alignment for non flex items*/

.top{
	align-items: flex-start;
}
.bottom{
	align-items: flex-end;
}
.baseline{
	align-items:baseline;
}
.middle{
	align-items:center;
}
.stretch{
	align-items:stretch;
}

/*vertical alignment for 'flexible' children*/
.v-top {
  align-content: flex-start; }

.v-bottom {
  align-content: flex-end; }

.v-baseline {
  align-content: baseline; }

.v-middle {
  align-content: center; }

.v-stretch {
  align-content: stretch; }
.v-space-between {
	align-content:space-between;
}
.v-space-around {
	align-content:space-around;
}

/*horizontal alignment*/

.left{
	justify-content: flex-start;
}
.right{
	justify-content: flex-end;
}
.center{
	justify-content:center;
}
.space-evenly{
	justify-content:space-evenly;
}
.space-around{
	justify-content: space-around;
}
.space-between{
	justify-content: space-between;
}

//columns
.is-1{

	min-width: 8.333333333%;
}
.is-2{

  	min-width: 16.666666666%;
}
.is-3{

  	min-width: 24.999999999%;
}
.is-4{

  	min-width: 33.333333333%;
}
.is-5{

  	min-width: 41.666666666%;
}
.is-6{

  	min-width: 49.999999999%;
}
.is-7{

  	min-width: 58.333333333%;
}
.is-8{

  	min-width: 66.666666666%;
}
.is-9{

  	min-width: 74.999999999%;
}
.is-10{

  	min-width: 83.333333333%;
}
.is-11{

  	min-width: 91.666666666%;
}
.is-12{
  	min-width: 100%;
}

//use on a div span or button ofcourse
//usage btn(size,type) color
.btn\(\) {
	background-color:  var(--white);
  	border-color: #dbdbdb;
  	border-width: 1px;
  	color: var(--black);
  	cursor: pointer;
  	font-size: 1em;
  	justify-content: center;
  	padding: calc(0.5em - 1px) 1em;
  	line-height: 1.5em;
  	text-align: center;
  	white-space: nowrap;
  	outline: none;
}

//sizes
.btn\(small\) {
	background-color:  var(--white);
  	border-color: #dbdbdb;
  	border-width: 1px;
  	color: var(--black);
  	cursor: pointer;
  	justify-content: center;
  	padding: calc(0.25em - 1px) .5em;
  	line-height: 1.5em;
  	text-align: center;
  	white-space: nowrap;
  	font-size: .75em;
  	outline: none;
}
.btn\(large\) {
	background-color:  var(--white);
  	border-color: #dbdbdb;
  	border-width: 1px;
  	color: var(--black);
  	cursor: pointer;
  	justify-content: center;
  	padding: calc(.75em - 1px) 1.25em;
  	line-height: 1.5em;
  	text-align: center;
  	white-space: nowrap;
  	font-size: 1em;
  	outline: none;
}
.btn\(xlarge\) {
	background-color:  var(--white);
  	border-color: #dbdbdb;
  	border-width: 1px;
  	color: var(--black);
  	cursor: pointer;
  	justify-content: center;
  	padding: calc(0.25em - 1px) .5em;
  	line-height: 1.5em;
  	text-align: center;
  	white-space: nowrap;
  	font-size: 2em;
  	outline: none;
}

//color modifiers for buttons
.is-primary{
	background-color: var(--primary);
	color: var(--white);
}
.is-primary:hover{
	background-color:darken($primary,2%);
}
.is-primary:active{
	background-color:darken($primary,5%);
}
.is-secondary{
	background-color: var(--secondary);
	color: var(--white);
}
.is-secondary:hover{
	background-color:darken($secondary,2%);
}
.is-secondary:active{
	background-color:darken($secondary,5%);
}
.is-success{
	background-color: var(--success);
	color: var(--black);
}
.is-success:hover{
	background-color:darken($success,2%);
}
.is-success:active{
	background-color:darken($success,5%);
}
.is-warning{
	background-color: var(--warning);
	color: var(--black);
}
.is-warning:hover{
	background-color:darken($warning,2%);
}
.is-warning:active{
	background-color:darken($warning,5%);
}
.is-info{
	background-color: var(--info);
	color: var(--white);
}
.is-info:hover{
	background-color:darken($info,2%);
}
.is-info:active{
	background-color:darken($info,5%);
}
.is-error{
	background-color: var(--error);
	color: var(--white);
	
}
.is-error:hover{
  	background-color:darken($error,2%);

}
.is-error:active{
	outline: darken($error,20%);
	background-color:darken($error,5%);
}

.is-black{
	background-color: var(--black);
	color: var(--white);
}
.is-black:hover{
	background-color:darken($black,2%);
}
.is-black:active{
	background-color:var(--black);
}
.is-white{
	background-color: var(--white);
	color: var(--black);
	
}
.is-white:hover{
  		background-color:darken($white,2%);
}
.is-white:active{
  		background-color:darken($white,5%);
}
.is-round {
	border-radius: 2em;

}
.is-round:active {
	outline: none;
}